@import 'https://fonts.googleapis.com/css?family=Rubik+One';

* {
	box-sizing: border-box;
}

*, html, body, header {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Helvetica Neu", Helvetica;
  font-size: 18px;
	background-color: #55A9FF;
}

/* .cloud{
  background: url(img/cloud.png) bottom center;
  display: block;
  width: 140px;
  height: 76px;
  background: url(img/white_cloud.svg);
  background-size: 140px 76px;
  position: absolute;
  right:5%;
} */
.cloud{
	position: absolute;
	background: url(img/white_cloud.svg);
	width:auto;
}
.cloud1{
  width: 140px;
  height: 76px;
  top: 50px;
  right: 85%;
  z-index: -1;
}
.cloud2{
  width: 140px;
  height: 76px;
	top: 80px;
  left: 15%;
  z-index: -1;
}
.cloud3{
	background-size: 168px 91px;
  width:168px;
  height: 91px;
  top: 25px;
  right:70% ;
  z-index: -2;
}
.cloud4{
  width:168px;
  height: 91px;
  background-size: 168px 91px;
  top: 35px;
  left:65% ;
  z-index: -2;
}

.wrap{

	height: 100%;
	width: 100%;
	position: absolute;
}

header{
	position: relative;
	height: 160px;
	text-align: center;
	margin: 100px auto;
	padding: 40px 0 40px 0;
	width: 100%;
	border-top: 12px solid #2a547f;
	border-bottom: 20px solid #2a547f;
	background-color: white;
}
header h1 {
	font-family:inherit;
  color: #2a547f;
	font-size: 50px;
	letter-spacing: 10px;
  z-index: 100;
  text-shadow: 4px 3px 10px #a8a8a8;
  text-transform: uppercase;
  white-space: nowrap;
}
header h2 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 100px auto;
	min-width: 600px;
	max-width: 100%;
	padding: 30px;
	text-align: center;
	color: white;
	text-shadow: 2px 3px 8px black;
  z-index: 0;
	top: 50%;
}
h3{
	color: white;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 28px;
	text-align: center;
}
a {
	padding: 10px;
	width: 200px;
	color: white;
}
.main{
  background:#55A9FF;
  min-height: 700px;
  border-bottom: 8px #2a547f;
	text-align: center;
}
/* Login */
.container {
	display: none;
	background-image: /* background: -webkit-linear-gradient(top left, #55A9FF, #cce5ff);*/;
	background-image: /* background: -o-linear-gradient(top left, #55A9FF, #cce5ff);*/;
	background-image: /* background: linear-gradient(to bottom right, #55A9FF, #cce5ff);*/;
}

.login-box{
  position: relative;
  width: 350px;
  height: 500px;
  margin: 0 auto;
  background: inherit;
  border-radius: 2px;
  overflow: hidden;
	top : 80px;
}
/* .blurred-box:after{
 content: '';
 width: 300px;
 height: 300px;
 background: inherit;
 position: absolute;
 left: -25px;
 right: 0;
 top: -25px;
 bottom: 0;
 box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
 filter: blur(10px);
} */
/* Form which you dont need */
.user-login-box{
  position: relative;
  margin-top: 25px;
  text-align: center;
  z-index: 1;

}
.user-login-box > *{
  display: inline-block;
  width: 200px;
}
.user-icon{
  width: 160px;
  height: 160px;
  position: relative;
  border-radius: 50%;
  background-size: cover;
  background-image: url(img/gingi-ginger-kid.jpg);
	background-position: top;
	/* background-image: url(https://pbs.twimg.com/profile_images/725321660484583424/ArQ4fM3k.jpg); */
}
.enter-name{
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;

	font-family: "Trebuchet MS", Helvetica, sans-serif;

}
input.user-input{
  width: 200px;
  height: 28px;
  opacity: 0.4;
  border-radius: 2px;
  padding: 25px 15px;
  border: 0;
	border-radius: 5px;
	margin-bottom: 8px;
}
button.submit {
	background: #0084ff;
	border: none;
	border-radius: 5px;
	padding: 18px 14px;
	font-size: 15px;
	color: #fff;
}
button.submit:active {
	background-color: green;
}

.start{
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  width: 30%;
  border-radius: 5px;
  background-color: #f2f2f2;
  position: relative;
  top: 50px;
}
label {
  padding-right: 25px;
}

input[type=text]:hover {
    background-color: #cce5ff ;
}
img .ginger{
  border-radius: 50%;
  height: 25%;
  width: 25%;
  background-image: url("img/gingi-ginger-kid_white.jpg");
  float: left;
  display: block;

  background: url(img/white_cloud.svg);

  position: absolute;
  top: 60px;
  left: 70%;
}

.panel{
  display: none;
  position: relative;
  top: 40px;
  border: solid 2px #ffab55;
  margin: 0 auto;
  height: 40px;
  width: 200px;
  text-align: center;
  color: #ffab55;
  border-radius: 0px 0px 50px 50px;
}

.panel span{
	font-size: 24px;
}

/* button {
  background: #0084ff;
  border: none;
  border-radius: 5px;
  padding: 18px 14px;
  font-size: 15px;
  color: #fff;
} */

footer {
	background-color: green;
	position: fixed;
	bottom: 0;
	height: 6%;
	width: 100%;
	border-bottom: 5px solid saddlebrown;
	z-index: 9;

}

/* LOADING ... */
/*  */
section{
	margin: 0;
	padding: 0;
}
section.loader{
	height: 100%;
	z-index: 100;
}
.loadingText{
	font-family: 'Rubik One', sans-serif;
	background-color: #2a547f;
	color: white;
	text-align: center;
	padding: 0px;
	letter-spacing: 5px;
	font-weight:400;
	opacity: 1	;
	position: fixed;
	width: 100%;
	z-index: 10;
	color: white;
}
.fullscreen {
	height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.percentage {
  font-family: 'Rubik One', sans-serif;
  font-size: 5em;
  color: orange;
  mix-blend-mode: multiply;
	z-index: 102;
}
.loadingbar {
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color: #55A9FF;
  top:0;
  left: 0;
  position: absolute;
}
